attrs==22.1.0
flake8==5.0.4
flake8-broken-line==0.6.0
flake8-isort==5.0.0
flake8-plugin-utils==1.3.2
flake8-return==1.1.3
iniconfig==1.1.1
isort==5.10.1
mccabe==0.7.0
mypy==0.982
mypy-extensions==0.4.3
packaging==21.3
pep8-naming==0.13.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
pytest==7.1.3
tomli==2.0.1
typing_extensions==4.4.0
